# Laravel
/bootstrap/compiled.php
/vendor

# Environment Files
.env.local.php
.env.staging.php
.env.php

# Configuration
# Using env variables now
#/app/config/local
#/app/config/staging
#/app/config/production

# Basset development collections
/public/assets/compiled/public
/public/assets/compiled/admin
/public/error_log
/public/images/upload

# Composer
composer.phar

# OS
.DS_Store
.idea/
vagrant
.vagrant
Thumbs.db

# Packages
_ide_helpers.php
rocketeer.phar